@model CasinoMSR.Web.Models.User
@{
    Layout = "_LayoutGame";
    ViewBag.Title = "Roulette";
}
<div id="container">
    <div class="wheel"></div>
    <div id="betting_board">
        <div class="winning_lines"></div>
        <div class="bbtop"></div>
        <div class="number_board"></div>
        <div class="bo3_board"></div>
        <div class="oto_board"></div>
        <div class="chipDeck"></div>
        <div class="bankContainer">
            <div class="bank">
                <span id="bankSpan">@Model.TotalMoney</span>
            </div>
            <div class="bet">
                <span id="betSpan">0</span>
            </div>
        </div>
    </div>
    <div class="spinBtn">spin</div>
</div>
<script src="~/js/roulette.js"></script>

@*<section class="contact-area contact-bg" data-background="/img/bg/contact_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="contact-form-wrap">
                        <div class="widget-title mb-50">
                            <h5 class="title">Total money</h5>
                        </div>
                        <div class="contact-form">
                            <input disabled="disabled" type="text" placeholder="0" />
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="widget-title mb-50">
                        <h5 class="title"></h5>
                    </div>
                    <div class="movie-item movie-item-three mb-50">
                        <a class="btn"><i class="fas fa-play"></i>Spin!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>*@