@using Microsoft.AspNetCore.Identity
@model CasinoMSR.Web.ViewModels.BaseViewModel

@if (!User.Identity.IsAuthenticated)
{
    <li class="header-btn"><a asp-controller="Account" asp-action="Login" class="btn">Sign In</a></li>
    <li class="header-btn"><a asp-controller="Account" asp-action="Register" class="btn">Sign Up</a></li>
}
else
{
    <li class="active"><a asp-controller="Home" asp-action="PutMoney">CASH: @Model.CurrentUser.TotalMoney $</a></li>
}
